# Non-publishable code
tests/
slowstart/
dev/

# Ignore audio files and results
*.wav
*.mp3
results/
datasets/

# Ignore all .pt files
*.pt

# But do NOT ignore .pt files in weights/ and its subfolders
!SCAPES/**/*.pt

# Ignore Python cache files
__pycache__/


