# Non-publishable code
tests/
slowstart/
dev/
0. introduction.ipynb

# Ignore audio files and results
*.wav
*.mp3
results/
datasets/

# Ignore all .pt files
*.pt

# But do NOT ignore .pt files in weights/ and its subfolders
!SCAPES/**/*.pt

# Ignore Python cache files
__pycache__/

# experiments stuff
run_experiments.sh
1_dataprep.py
2_training.py
3_inference.py
1.5. GlobalEncoder trainer.ipynb
experiments/

# Other training experiments
all_experiments_log.txt
inference_log.txt
